<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/globals.css">
    <title>Document</title>
</head>

<body>
    <div class="about-content container flex evened">
        <div class="about-content--text">
            <h1 class="mgb-2">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolore, impedit iure vel voluptatibus
                inventore tempora asperiores? Consequuntur dolores quisquam at deserunt nostrum maiores, tempora
                doloribus dolor ut, velit molestiae, perferendis sapiente similique. Minus, ab placeat? Incidunt,
                reprehenderit delectus voluptate ratione vel vitae at officiis id odit maiores hic aperiam alias
                assumenda, consequatur numquam dolor inventore rem molestiae tempora ut omnis iusto, dolores porro! Modi
                sapiente harum mollitia in explicabo ullam, excepturi ipsa veritatis repudiandae suscipit fugiat
                laudantium consequatur hic perferendis, nesciunt nam, impedit laborum placeat esse molestiae id ab
                expedita! Accusamus possimus non accusantium facilis illo doloribus iste ullam.</p>
        </div>
        <div class="image flex centered">
            <img src="./images/tea-girl.jpg" class="" alt="girl holding a cuppa">
        </div>
    </div>
    <nav><a href="/">Home</a></nav>
</body>

</html>