<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/globals.css">

    <title>Document</title>
</head>

<body>
    <div class="container mgt-4 owl-2">

        <h1>How to Build a Calculator</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit eaque autem minus voluptatum sequi enim maxime
            blanditiis fuga velit dolorem animi optio, facilis dicta libero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique iure ipsum pariatur accusantium aperiam
            fugit, saepe voluptatem. Fugit ipsum, quod velit tempore corrupti veritatis porro doloribus eveniet minima
            earum
            rem placeat nemo odio a libero. Hic impedit accusamus recusandae omnis qui libero temporibus laudantium et,
            velit perspiciatis eligendi id iure corrupti autem esse dicta, delectus sed? Ipsam id iste totam.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit veniam nemo repellat facere beatae eaque
            consequuntur doloremque magnam necessitatibus laudantium cum nisi minima nobis atque quia sapiente, ullam
            deleniti nihil nulla vero. Corrupti cupiditate necessitatibus hic sit veniam laborum eaque, deleniti
            consequuntur veritatis explicabo dicta atque officia molestias. Doloribus corporis corrupti tempore,
            expedita
            recusandae saepe vel aliquam exercitationem laudantium dolorum, magni doloremque harum aliquid, praesentium
            beatae quo odio magnam animi aut labore quisquam debitis aperiam omnis? Veritatis quos incidunt animi et,
            nostrum quas facilis quibusdam architecto, debitis dolore provident cum sapiente nobis sunt iste culpa
            ratione
            libero harum laborum illum.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In unde debitis cumque officia deserunt earum
            numquam
            itaque maxime laboriosam quod aliquam, laudantium nam esse fuga exercitationem aut libero iusto enim.</p>
    </div>

    <nav>
        <a href="/blog">HOME</a>
    </nav>
</body>

</html>