<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/globals.css">
    <title>Document</title>
</head>

<body>
    <div class="container mgt-4">
        <h1>Blog Articles</h1>
        <article>
            <ul>
                <li><a href="/blog/how-to-build-a-calculator">How To Build a Calculator</a></li>
            </ul>
        </article>
    </div>
</body>

</html>